/* Body Content */
body {
    overflow-x: hidden
}

.text-primary {
    color: #48BEFF !important;
}

.btn-primary {
    background-color: #48BEFF !important;
    border: 1px solid #48BEFF !important;
}


hr {
    border: 0.1px solid #48BEFF !important;
    opacity: 1;
}